* {
	text-align: center;
}

h1 {
            font-family: serif;
}
body {
        background: khaki;
}

p { 
	display:block;
	font-family: sans-serif;
	color: white;
	background: green;
	border-radius: 25px;
	height: 150px;
	background-image: url(grass-background.png);
	background-size: contain;
	background-repeat: no-repeat;

}

	
	
