* {
	text-align: center;
}

h1 {
        font-family: serif;
	color: white;

}
body {
        background: #00ff7e;
	
}

p { 
	display:block;
	font-family: sans-serif;
	color: white;
	background: green;
	border-radius: 25px;
	height: 150px;
	background-image: url(grass-background.png);
	background-size: contain;
	background-repeat: repeat-x;

}

	
	
