* {
	text-align: center;
}

h1 {
        font-family: serif;
	color: white;

}
body {
        background: #00ff7e;
	background-image: url("grass-background.png");
	background-position: 0 100%;
	background-size: 100% 50%
	
}

p { 
	display:block;
	font-family: sans-serif;
	color: white;
	background: green;
	border-radius: 25px;
	height: 150px;
	background-image: url("grass-background.png"), url("grass-background.png");
	background-position: 0 100%, 10% 100%;
	background-repeat: repeat-x;
	background-size: contain;
}

	
	
