*{
  margin: 10px;
  padding: 10px;  
}
div#container { 
background-color: #A01641;
border-weight: 20 px; 
border-color: #FFFF00;
border-radius: 2%;
display: flex; 
justify-content: center;
align-items: center; 
align-content: sapce-between;
margin: 10px;
padding: 0px;
}
h1 {
font-style: italic;
}
p1 {
font-weight: bold;
}
p2{
opacity: 70%;
}
body {
background-image: url("portfolio/cat hoch photos/lights-guitar-action.jpg");
}
